.container {
   max-width: 1248px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 2rem;
   margin-bottom: 5rem;
}

.accordionContainer {
   width: 100%;
}

.accordionItem {
   border-bottom: 1px solid #cbd5e1;
   padding: 0px 2rem;
}

.accordionItem:hover {
   background-color: #f8f8f8;
}

.accordionButton {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem 0;
   background: none;
   border: none;
   color: #1e293b;
   font-size: 1rem;
   cursor: pointer;
   outline: none;
   transition: color 0.2s ease;
}

.accordionButton:hover {
   color: #0f172a;
}

.icon {
   display: flex;
   align-items: center;
   justify-content: center;
   transition: transform 0.3s ease;
}

.rotate {
   transform: rotate(90deg);
}

.iconSvg {
   width: 1rem;
   height: 1rem;
}

.accordionContent {
   max-height: 0;
   overflow: hidden;
   opacity: 0;
   transform: scaleY(0.95);
   transition:
      max-height 0.3s ease,
      opacity 0.3s ease,
      transform 0.3s ease;
}

.accordionContent.open {
   max-height: 500px;
   opacity: 1;
   transform: scaleY(1);
}

.accordionText {
   padding: 0rem 5rem 1.5rem 0;
   font-size: 0.875rem;
   color: #64748b;
   line-height: 1.5;
}

.title {
   margin-bottom: 2.5rem;
}

.questionTitle {
   font-weight: 700;
}
